body {
    margin: 0;
    height: 100%;
}

.header {
    padding: 15px 0;
    top: 0px;
    left: 0px;
    width: 1600px;
    height: 60px;
    background: #A03037 0% 0% no-repeat padding-box;
    opacity: 1;
}

.header-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    opacity: 1;
    height: 30px;
    color: white;
}

.logo-content-img {
    margin-right: 10px;
    align-content: center;
}

.logo-content {
    margin-right: 1200px;
    background: #A03037 0% 0% no-repeat padding-box;
    height: 50px;
    display: flex;
    align-items: center;
}

.form-content-forgot {
    width: 40%;
    margin: 0 auto;
    margin-top: 30px;
    height: 380px;
    color: white;
    border-radius: 4px;
}

.form-forgot {
    margin-top: 160px;
    height: 260px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 30px 90px #00000029;
    border: 0px solid #f5f5f5;
    border-radius: 8px;
    opacity: 1;
}


.form-head-forgot {
    border-radius: 8px;
    background-color: #A03037;
    padding: 10px;
}

.input-forgot {
    padding: 10px;
    border-radius: 5px;
    width: 154%;
    border: 1px solid #d1c8c8;
    opacity: 1;
}

.row-content-forgot {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 20px;
    height: 50px;
    margin-left: 8%;
    margin-right: 10%;
}


.button-forgot {
    background-color: #A03037;
    margin-top: 30px;
    color: white;
    border-radius: 7px;
    width: 77%;
    padding: 10px;
    margin-bottom: 10px;
    margin-left: 11%;
    text-align: center;
    cursor: pointer;
}

.link-forgot {
    text-align: center;
}