body {
    margin: 0;
    height: 100%;
}

.form-content-reset {
    width: 40%;
    margin: 0 auto;
    margin-top: 30px;
    height: 380px;
    color: white;
    border-radius: 4px;
}

.form-reset {
    margin-top: 140px;
    height: 410px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 30px 90px #00000029;
    border: 0px solid #f5f5f5;
    border-radius: 8px;
    opacity: 1;
}

.form-head-reset {
    border-radius: 8px;
    background-color: #A03037;
    padding: 10px;
}

.input-reset {
    padding: 10px;
    border-radius: 5px;
    width: 154%;
    border: 1px solid #d1c8c8;
    opacity: 1;
}

.row-content-reset {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 20px;
    height: 50px;
    margin-left: 8%;
    margin-right: 10%;
}

.button-reset {
    background-color: #A03037;
    margin-top: 10px;
    color: white;
    border-radius: 7px;
    width: 77%;
    padding: 10px;
    margin-bottom: 10px;
    margin-left: 11%;
    text-align: center;
    cursor: pointer;
}

.link {
    text-align: center;
}

.home-image{
    margin-right: 20px;
    position: absolute;
    right: 0;
}