body {
    margin: 0;
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
}

.header {
    width: 100%;
    background-color: #A03037;
    color: #f2f2f2;
    display: flex;
    padding: 15px;
}

.logo-content {
    margin-left: 100px;
    display: flex;
}

.logo-content-img {
    margin-right: 5px;
}

.button-home{
    position: absolute;
    right: 0;

}

.home-image-homepage{
    margin-right: 20px;
}
.reg-image-homepage{
    margin-right: 30px;
}
.login-image-homepage{
    margin-right: 40px;
}
.footer{

    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background:  #020202 0% 0% no-repeat padding-box;
    color: white;
    text-align: center;
 font: normal normal medium 12px/15px Lato;

}


