body {
    margin: 0;
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
}

.header-dashboard {
    width: 100%;
    background-color: #A03037;
    color: #f2f2f2;
    display: flex;
    padding: 15px;
}

.logo-content-dashboard {
    margin-left: 100px;
    display: flex;
}

.logo-content-img-dashboard {
    margin-right: 5px;
}

.button-dashboard{
    position: absolute;
    right: 0;
}

.button-2 {
    margin-left: 40px;
    background-color: white;
    border: none;
    color: black;
    padding: 7px;
    text-align: center;
    font-size: 15px;
    cursor: pointer;
    border-radius: 20%;
    margin-right: 80px;
}

.home-image-dashboard{
    margin-right: 20px;
    position: absolute;
    right: 0;
}